{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
    <!--suppress ALL -->
    <html>
        <head>
            <style type="text/css">
                #circle {
                    display: block;
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                    margin: 0;
                }

            #关于我们{
                color: rgba(201,63,71,1);
                opacity: 100%;
                font-size: 14px;
                line-height: 17px;
            }
            #rectangle1{
                border-style:solid;
                border-width:1px;
                border-color: rgba(151,151,151,1);
                opacity: 100%;
                border-radius: 0px;
            }
            #合作伙伴{
                color: rgba(194,197,223,1);
                opacity: 100%;
                font-size: 20px;
                line-height: 24px;
            }
            #艺术社区{
                color: rgba(0,0,0,54);
                opacity: 100%;
                font-size: 14px;
                line-height: 17px;
            }
            #共享艺术，美好生活{
                color: rgba(255,255,255,1);
                opacity: 100%;
                font-size: 18px;
                line-height: 24px;
            }
            #科技，美好未来生活{
                color: rgba(255,255,255,1);
                opacity: 100%;
                font-size: 14px;
                line-height: 24px;
            }
            #作家名{
                color: rgba(0,0,0,1);
                opacity: 100%;
                font-size: 14px;
                line-height: 17px;
            } 
            #作品名{
                color: rgba(0,0,0,1);
                opacity: 100%;
                font-size: 18px;
                line-height: 21px;
            }
            #内容介绍{
                color: rgba(0,0,0,1);
                opacity: 100%;
                font-size: 14px;
                line-height: 20px;
            }
            #更多作品{
                color: rgba(0,0,0,1);
                opacity: 100%;
                font-size: 18px;
                line-height: 21px;
            }
            #艺术作品名称{
                color: rgba(0,0,0,1);
                opacity: 100%;
                font-size: 18px;
                line-height: 27px;
            }            
            </style>
        </head>
        <body>
            <div style="position: absolute;
                width:1200px;
                height:60px;
                margin-top: 0px;">
                <div style="position: relative;
                    float:left;
                    margin-top: 0px;
                    margin-left: 100px;">
                    <img src="{% static 'frontend/image/page1/ArtPartner logo2.png' %}"/>
                </div>
                <div id="关于我们" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>关于我们</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>艺术社区</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>why us</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>合作伙伴</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>开始投资</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>查看更多</b>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 5px;">
                    <img src="{% static 'frontend/image/page1/三角形（顶部）.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 100px;">
                    <img src="{% static 'frontend/image/page1/分割线（顶部）.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/登陆.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/收藏.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/购物车.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/搜索.png' %}"/>
                </div>
            </div>
            <div style="position: absolute;
                width:1200px;
                height:1px;
                margin-left:0px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page3/线 顶部.png' %}" width="1200px"/>
            </div>


            <div style="position: absolute;
                        float:left;
                        width: 200px;
                        height:90px;
                        margin-left:800px;
                        margin-top: 90px;">
                <div style="position: relative;
                        float:left;
                        width: 20px;
                        height: 20px;
                        margin-left:0px;
                        margin-top: 80px;">
                        <img src="{% static 'frontend/image/page9/爱心.png' %}" />
                </div>
                <div style="position: relative;
                        float:left;
                        width: 20px;
                        height: 20px;
                        margin-left:25px;
                        margin-top: 80px;">
                        <img src="{% static 'frontend/image/page9/link-分享.png' %}" />
                </div>

                <div style="position: relative;
                        float:left;
                        width: 20px;
                        height: 20px;
                        margin-left:25px;
                        margin-top: 80px;">
                        <img src="{% static 'frontend/image/page9/加入投资报告list.png' %}" />
                </div>

                <div style="position: relative;
                        float:left;
                        width: 20px;
                        height: 20px;
                        margin-left:25px;
                        margin-top: 0px;">
                        <img src="{% static 'frontend/image/page9/生成投资报告.png' %}" />
                </div>
        
            </div>

            <div style="position: absolute;
                width:160px;
                margin-left:80px;
                margin-top: 220px;">
                <div id = "作家名" style="position: relative;
                float:top;
                width:160px;
                margin-left:0px;
                margin-top: 0px;">
                文森特 梵高
                </div>

                <div id = "rectangle1" style="position: relative;
                float:top;
                width:160px;
                height:260px;
                margin-left:0px;
                margin-top: 20px;">
                
                </div>

                <div id = "内容介绍" style="position: relative;
                float:top;
                width:160px;
                margin-left:0px;
                margin-top: 40px;">
                梵高出生于1853年3月30日荷兰乡村津德尔特的一个新教牧师家庭。。。。。
                </div>

            </div>
            
            <div style="position: absolute;
                width:2px;
                margin-left:300px;
                margin-top: 220px;">
                <img src="{% static 'frontend/image/page6/中部分割线.png' %}" height=1200px width=1px/>
            </div>

            <div style="position: absolute;
                margin-left:350px;
                margin-top: 130px;">
                <div id = "作品名" style="position: relative;
                float:top;
                width:400px;
                margin-left:0px;
                margin-top: 0px;">
                《罗纳河上的星夜》
                </div>


                <div id = "作者名" style="position: relative;
                float:top;
                width:400px;
                margin-left:0px;
                margin-top: 20px;">
                文森特 梵高
                </div>

                <div id = "rectangle1" style="position: relative;
                float:top;
                width:760px;
                height:540px;
                margin-left:20px;
                margin-top: 40px;">
                
                </div>

                <div id = "内容介绍" style="position: relative;
                float:top;
                width:700px;
                margin-left:55px;
                margin-top: 55px;">
                    运用冷色迷人的深蓝色短信铺满整个夜空，强而有力的笔触表达出液的深沉忧郁无法预测，而点缀其上的微明星子，与倒映在河面上的瓦斯等相互辉映，深蓝。。。。。。。
                </div>

                <div id = "更多作品" style="position: relative;
                float:top;
                width: 100px;
                margin-left:0px;
                margin-top: 60px;">
                更多作品
                </div>

                <div style="position: relative;
                float:top;
                width: 800px;
                height:250px;
                margin-left:25px;
                margin-top: 40px;">
                
                    <div style="position: relative;
                        float:left;
                        width: 350px;
                        margin-left:0px;
                        margin-top: 0px;">
                        <div id = "rectangle1" style="position: relative;
                        float:top;
                        width: 350px;
                        height: 200px;
                        margin-left:0px;
                        margin-top: 0px;">
                        </div>

                        <div id = "艺术作品名称" style="position: relative;
                        float:top;
                        width: 350px;
                        margin-left:0px;
                        margin-top: 20px;">
                        艺术作品名称
                        </div>         
                    </div>
                    

                    <div style="position: relative;
                        float:left;
                        width: 350px;
                        margin-left:45px;
                        margin-top: 0px;">
                        <div id = "rectangle1" style="position: relative;
                        float:top;
                        width: 350px;
                        height: 200px;
                        margin-left:0px;
                        margin-top: 0px;">
                        </div>

                        <div id = "艺术作品名称" style="position: relative;
                        float:top;
                        width: 350px;
                        margin-left:0px;
                        margin-top: 20px;">
                        艺术作品名称
                        </div>

                    </div>

                </div>

                <div style="position: relative;
                float:top;
                width: 800px;
                margin-left:25px;
                margin-top: 40px;">
                
                    <div style="position: relative;
                        float:left;
                        width: 350px;
                        margin-left:0px;
                        margin-top: 0px;">
                        <div id = "rectangle1" style="position: relative;
                        float:top;
                        width: 350px;
                        height: 200px;
                        margin-left:0px;
                        margin-top: 0px;">
                        </div>

                        <div id = "艺术作品名称" style="position: relative;
                        float:top;
                        width: 350px;
                        margin-left:0px;
                        margin-top: 20px;">
                        艺术作品名称
                        </div>         
                    </div>
                    

                    <div style="position: relative;
                        float:left;
                        width: 350px;
                        margin-left:45px;
                        margin-top: 0px;">
                        <div id = "rectangle1" style="position: relative;
                        float:top;
                        width: 350px;
                        height: 200px;
                        margin-left:0px;
                        margin-top: 0px;">
                        </div>

                        <div id = "艺术作品名称" style="position: relative;
                        float:top;
                        width: 350px;
                        margin-left:0px;
                        margin-top: 20px;">
                        艺术作品名称
                        </div>

                    </div>

                </div>

            </div>




            <div style="position: absolute;
                margin-left: 0px;
                margin-top: 2100px;
                height: 300px;
                width: 1200px;
                background-color: rgba(191,217,254,1);">
                <!-- <b>partner块</b> -->
                <div id = "共享艺术，美好生活" style="position: relative;
                    float:left;
                    margin-left:200px;
                    margin-top:100px;"
                    align="center">
                    <b>keep in touch</b></br></br>
                    <img src="{% static 'frontend/image/page1/底部蓝色信息框/地址.png' %}"  />
                    <img src="{% static 'frontend/image/page1/底部蓝色信息框/电话.png' %}"  />
                    <img src="{% static 'frontend/image/page1/底部蓝色信息框/邮箱.png' %}"  />
                </div>
                <div  style="position: relative;
                    float:left;
                    margin-left:200px;
                    margin-top:100px;"
                    align="center">
                    <img src="{% static 'frontend/image/page1/ArtPartner logo1.png' %}"  />
                </div>
                <div id = "科技，美好未来生活" style="position: relative;
                    float:left;
                    margin-left:200px;
                    margin-top:100px;"
                    >
                    </br>
                    <b align="center">“科技，美好未来生活”</b></br></br></br></br></br></br>
                    <b align="right">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp北京水木未来科技有限公司</b>
      </div>
    </div>
  </body>
</html>
