{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
    <!--suppress ALL -->
    <html>
        <head>
            <style type="text/css">
                #circle {
                    display: block;
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                    margin: 0;
                }

            #关于我们{
                color: rgba(201,63,71,1);
                opacity: 100%;
                font-size: 14px;
                line-height: 17px;
            }
            #rectangle1{
                border-style:solid;
                border-width:1px;
                border-color: rgba(151,151,151,1);
                opacity: 100%;
                border-radius: 0px;
            }
            #合作伙伴{
                color: rgba(194,197,223,1);
                opacity: 100%;
                font-size: 20px;
                line-height: 24px;
            }
            #艺术社区{
                color: rgba(0,0,0,54);
                opacity: 100%;
                font-size: 14px;
                line-height: 17px;
            }
            #共享艺术，美好生活{
                color: rgba(255,255,255,1);
                opacity: 100%;
                font-size: 18px;
                line-height: 24px;
            }
            #科技，美好未来生活{
                color: rgba(255,255,255,1);
                opacity: 100%;
                font-size: 14px;
                line-height: 24px;
            }
            #标题1{
                color: rgba(0,0,0,1);
                opacity: 100%;
                font-size: 24px;
                line-height: 36px;
            }
            #艺术品详细信息{
                color: rgba(0,0,0,1);
                opacity: 70%;
                font-size: 14px;
                line-height: 21px;
            }
            #展示更多{
                color: rgba(0,0,0,1);
                opacity: 60%;
                font-size: 20px;
                line-height: 30px;
            }         
            </style>
        </head>
        <body>
            <div style="position: absolute;
                width:1200px;
                height:60px;
                margin-top: 0px;">
                <div style="position: relative;
                    float:left;
                    margin-top: 0px;
                    margin-left: 100px;">
                    <img src="{% static 'frontend/image/page1/ArtPartner logo2.png' %}"/>
                </div>
                <div id="关于我们" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>关于我们</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>艺术社区</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>why us</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>合作伙伴</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>开始投资</b>
                </div>
                <div id="艺术社区" style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 50px;">
                    <b>查看更多</b>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 5px;">
                    <img src="{% static 'frontend/image/page1/三角形（顶部）.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 100px;">
                    <img src="{% static 'frontend/image/page1/分割线（顶部）.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/登陆.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/收藏.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/购物车.png' %}"/>
                </div>
                <div style="position: relative;
                    float:left;
                    margin-top: 15px;
                    margin-left: 20px;">
                    <img src="{% static 'frontend/image/page1/搜索.png' %}"/>
                </div>
            </div>
            <div style="position: absolute;
                margin-left:0px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page3/线 顶部.png' %}" width="1200px"/>
            </div>

            <div style="position: absolute;
                margin-left:110px;
                margin-top: 70px;">
                <img src="{% static 'frontend/image/page8/顶部展示框.png' %}" width="980px" height="460px"/>
            </div>

            <div style="position: absolute;
                width:980px;
                height:100px;
                margin-left:110px;
                margin-top: 530px;
                border-style:solid;
                border-width:1px;
                border-color: rgba(151,151,151,1);
                background-color: rgba(191,217,254,1);">
                <div style="position: relative;
                float:left;
                margin-left:730px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page8/圆（顶部展示框）.png' %}"/>
                </div>
                <div style="position: relative;
                float:left;
                margin-left:25px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page8/圆（顶部展示框）.png' %}"/>
                </div>
                <div style="position: relative;
                float:left;
                margin-left:25px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page8/圆（顶部展示框）.png' %}"/>
                </div>
                <div style="position: relative;
                float:left;
                margin-left:25px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page8/圆（顶部展示框）.png' %}"/>
                </div>
                <div style="position: relative;
                float:left;
                margin-left:25px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page8/圆（顶部展示框）.png' %}"/>
                </div>
                <div style="position: relative;
                float:left;
                margin-left:25px;
                margin-top: 50px;">
                <img src="{% static 'frontend/image/page8/圆（顶部展示框）.png' %}"/>
                </div>                               
            </div>

            <div style="position: absolute;
                margin-left:110px;
                margin-top:700px;">

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 0px;">
                    <div id = "标题1" style="position: relative;
                        float:left;
                        margin-left:0px;
                        margin-top: 0px;">
                        限量版画
                    </div>
                    <div id = "展示更多" style="position: relative;
                        float:left;
                        margin-left:800px;
                        margin-top: 0px;">
                        展示更多
                    </div>
                </div>

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 20px;">
                    <img src="{% static 'frontend/image/page3/线 顶部.png' %}" width="980px"/>
                </div>

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 35px;">
                    <div style="position: relative;
                        float:left;
                        margin-left:0px;
                        margin-top: 70px;
                        z-index:0;">
                        <img src="{% static 'frontend/image/page8/展示框（最小限量版画）.png' %}"/>
                    </div>
                    <div style="position: relative;
                        float:left;
                        margin-left:-50px;
                        margin-top: 50px;
                        z-index:1;">
                        <img src="{% static 'frontend/image/page8/展示框（两边限量版画）.png' %}"/>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:-50px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（放大限量版画）.png' %}"/>
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            width:350px;
                            height:100px;
                            margin-left:0px;
                            margin-top: -100px;
                            border-style:solid;
                            border-width:1px;
                            border-color: rgba(151,151,151,1);
                            background-color: rgba(191,217,254,1);">
                            艺术品相惜信息
                        </div>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:-50px;
                        margin-top: 50px;
                        z-index:1;">
                        <img src="{% static 'frontend/image/page8/展示框（两边限量版画）.png' %}"/>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:-50px;
                        margin-top: 70px;
                        z-index:0;">
                        <img src="{% static 'frontend/image/page8/展示框（最小限量版画）.png' %}"/>
                    </div>

                </div>

            </div>


            <div style="position: absolute;
                margin-left:110px;
                margin-top:1250px;">

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 0px;">
                    <div id = "标题1" style="position: relative;
                        float:left;
                        margin-left:0px;
                        margin-top: 0px;">
                        国粹非遗
                    </div>
                    <div id = "展示更多" style="position: relative;
                        float:left;
                        margin-left:800px;
                        margin-top: 0px;">
                        展示更多
                    </div>
                </div>

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 20px;">
                    <img src="{% static 'frontend/image/page3/线 顶部.png' %}" width="980px"/>
                </div>

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 50px;">

                    <div style="position: relative;
                        float:left;
                        margin-left:0px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（放大国粹非遗）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            width:298px;
                            height:100px;
                            margin-left:0px;
                            margin-top: -100px;
                            border-style:solid;
                            border-width:1px;
                            border-color: rgba(151,151,151,1);
                            background-color: rgba(191,217,254,1);">
                            艺术品相惜信息
                        </div>
                    </div>


                    <div style="position: relative;
                        float:left;
                        margin-left:30px;
                        margin-top: 0px;
                        z-index:0;">
                        <img src="{% static 'frontend/image/page8/展示框（普通国粹非遗）.png' %}"/>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:30px;
                        margin-top: 0px;
                        z-index:0;">
                        <img src="{% static 'frontend/image/page8/展示框（普通国粹非遗）.png' %}"/>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:30px;
                        margin-top: 0px;
                        z-index:0;">
                        <img src="{% static 'frontend/image/page8/展示框（普通国粹非遗）.png' %}"/>
                    </div>
                    
                    
                </div>

            </div>


            <div style="position: absolute;
                margin-left:110px;
                margin-top:1850px;">

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 0px;">
                    <div id = "标题1" style="position: relative;
                        float:left;
                        margin-left:0px;
                        margin-top: 0px;">
                        艺术衍生
                    </div>
                    <div id = "展示更多" style="position: relative;
                        float:left;
                        margin-left:800px;
                        margin-top: 0px;">
                        展示更多
                    </div>
                </div>

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 20px;">
                    <img src="{% static 'frontend/image/page3/线 顶部.png' %}" width="980px"/>
                </div>

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 35px;">

                    <div style="position: relative;
                        float:left;
                        margin-left:0px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:40px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:40px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:40px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>
                     
                </div>

                <div style="position: relative;
                    float:top;
                    margin-left:0px;
                    margin-top: 100px;">

                    <div style="position: relative;
                        float:left;
                        margin-left:0px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:40px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:40px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>

                    <div style="position: relative;
                        float:left;
                        margin-left:40px;
                        margin-top: 0px;
                        z-index:2;">
                        <div style="position: relative;
                            float:top;
                            margin-left:0px;
                            margin-top: 0px;">
                            <img src="{% static 'frontend/image/page8/展示框（艺术衍生品）.png' %}" />
                        </div>
                        <div id="艺术品详细信息" style="position: relative;
                            margin-left:0px;
                            margin-top:25px;
                            height:50px;">
                            艺术品详细信息
                        </div>
                    </div>   
                </div>

            </div>





            <div style="position: absolute;
                margin-left: 0px;
                margin-top: 2700px;
                height: 300px;
                width: 1200px;
                background-color: rgba(191,217,254,1);">
                <!-- <b>partner块</b> -->
                <div id = "共享艺术，美好生活" style="position: relative;
                    float:left;
                    margin-left:200px;
                    margin-top:100px;"
                    align="center">
                    <b>keep in touch</b></br></br>
                    <img src="{% static 'frontend/image/page1/底部蓝色信息框/地址.png' %}"  />
                    <img src="{% static 'frontend/image/page1/底部蓝色信息框/电话.png' %}"  />
                    <img src="{% static 'frontend/image/page1/底部蓝色信息框/邮箱.png' %}"  />
                </div>
                <div  style="position: relative;
                    float:left;
                    margin-left:200px;
                    margin-top:100px;"
                    align="center">
                    <img src="{% static 'frontend/image/page1/ArtPartner logo1.png' %}"  />
                </div>
                <div id = "科技，美好未来生活" style="position: relative;
                    float:left;
                    margin-left:200px;
                    margin-top:100px;"
                    >
                    </br>
                    <b align="center">“科技，美好未来生活”</b></br></br></br></br></br></br>
                    <b align="right">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp北京水木未来科技有限公司</b>
      </div>
    </div>
  </body>
</html>
