{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
<!--suppress ALL -->
<html>
  <head>
    <style type="text/css">
      #circle {
        display: block; 
        border-radius: 50%; 
        height: 300px; 
        width: 300px; 
        margin: 0; 
      }
      #关于我们{
        color: rgba(201,63,71,1);
        opacity: 100%;
        font-size: 14px;
        line-height: 17px;
      }
      #合作伙伴{
        color: rgba(194,197,223,1);
        opacity: 100%;
        font-size: 20px;
        line-height: 24px;
      }
      #艺术社区{
        color: rgba(0,0,0,54);
        opacity: 100%;
        font-size: 14px;
        line-height: 17px;
      }
      #共享艺术，美好生活{
        color: rgba(255,255,255,1);
        opacity: 100%;
        font-size: 18px;
        line-height: 24px;
      }
      #科技，美好未来生活{
        color: rgba(255,255,255,1);
        opacity: 100%;
        font-size: 14px;
        line-height: 24px;
      }
      #新用户注册{
        color: rgba(0,0,0,1);
        opacity: 71%;
        font-size: 24px;
        line-height: 30px;
      }
      #用户名等{
        color: rgba(0,0,0,1);
        opacity: 71%;
        font-size: 20px;
        line-height: 24px;
      }
      #请输入{
        color: rgba(0,0,0,1);
        opacity: 71%;
        font-size: 18px;
        line-height: 21px;
      }
      #密码提示{
        color: rgba(0,0,0,1);
        opacity: 71%;
        font-size: 12px;
        line-height: 18px;
      }
      #自主输入{
        color: rgba(0,0,0,1);
        opacity: 71%;
        font-size: 14px;
        line-height: 17px;
      }
      #确认注册{
        color: rgba(0,0,0,1);
        opacity: 71%;
        font-size: 20px;
        line-height: 24px;
        border:0px;
        background-color: rgba(255,255,255,1);
        width:150px;
        height:40px;
        text-align: center;
        background-image:url("{% static 'frontend/image/page6/确认注册.png' %}");
      } 
      #rectangle3{
        background-color: rgba(187,212,248,1);
        opacity: 100%;
        border-radius: 8px;
      }  
      #获取验证码{
        color: rgba(0,0,0,1);
        opacity: 71%;
        font-size: 14px;
        line-height: 17px;
        border:0px;
        background-color: rgba(255,255,255,1);
        width:80px;
        height:40px;
        background-image:url("{% static 'frontend/image/page6/获取验证码.png' %}");
      }   


    </style>
  </head>
  <body>
    <div style="position: relative;
            float:top; 
            width:1200px;
            height:60px;
            margin-top: 0px;">
      <div style="position: relative; 
            float:left;
            margin-top: 0px;
            margin-left: 100px;">
          <img src="{% static 'frontend/image/page1/ArtPartner logo2.png' %}"/>  
      </div>
      <div id="关于我们" style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 50px;">
          <b>关于我们</b>
      </div>
      <div id="艺术社区" style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 50px;">
          <b>艺术社区</b>
      </div>
      <div id="艺术社区" style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 50px;">
          <b>why us</b>
      </div>
      <div id="艺术社区" style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 50px;">
          <b>合作伙伴</b>
      </div>
      <div id="艺术社区" style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 50px;">
          <b>开始投资</b>
      </div>
      <div id="艺术社区" style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 50px;">
          <b>查看更多</b>
      </div>
      <div style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 5px;">
          <img src="{% static 'frontend/image/page1/三角形（顶部）.png' %}"/>  
      </div>
      <div style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 100px;">
          <img src="{% static 'frontend/image/page1/分割线（顶部）.png' %}"/>  
      </div>
      <div style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 20px;">
          <img src="{% static 'frontend/image/page1/登陆.png' %}"/>  
      </div>
      <div style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 20px;">
          <img src="{% static 'frontend/image/page1/收藏.png' %}"/>  
      </div>
      <div style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 20px;">
          <img src="{% static 'frontend/image/page1/购物车.png' %}"/>  
      </div>
      <div style="position: relative; 
            float:left;
            margin-top: 15px;
            margin-left: 20px;">
          <img src="{% static 'frontend/image/page1/搜索.png' %}"/>  
      </div>
    </div>

    <div style="position: relative;
        float:top;
        width:1200px;
        height:1px;
        margin-left:0px;
        margin-top: 0px;">
        <img src="{% static 'frontend/image/page3/线 顶部.png' %}" width="1200px"/>
    </div>

    <div id = "rectangle1" style="position: relative;
        float:top;
        width:1200px;
        height:650px;
        margin-left:0px;
        margin-top: 150px;"
        >
        <div id = "新用户注册" 
            style="position: relative; 
            float:top;
            margin-top: 20px;
            margin-left: 52px;">
            新用户注册
        </div>
        <div
            style="position: relative; 
            float:top;
            margin-top: 50px;
            margin-left: 0px;
            width:1200px;
            height:500px;">
            <form>
              <div
                style="position: relative; 
                float:left;
                margin-top: 0px;
                margin-left: 52px;
                width:550px;
                height:500px;">
                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 0px;
                  margin-left: 0px;">

                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 20px;
                    margin-left: 0px;">
                    账号
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 70px;">
                    <input type="text" value="  请输入用户名" name="username" style="width:400px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 70px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    手机号码
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 30px;">
                    <input type="text" value="  请输入手机号码" name="phone" style="width:400px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 140px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    验证码
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 50px;">
                    <input type="text" value="  请输入验证码" name="confirmation" style="width:300px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                  <div 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 20px;">
                    <input type="button"  id="获取验证码" value="获取验证码"/>
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 210px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    密码
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 70px;">
                    <input type="text" value="  请输入密码" id="tx" name="password"  style="center;width:400px;border:1px solid;border-radius:10px; height:40px;">
                    <input type="password" name="password"  style="display:none;width:400px;border:1px solid;border-radius:10px; height:40px;" id="pwd">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 280px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    确认密码
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 30px;">
                    <input type="text" value="  请输入确认密码" id="tx_c" name="password_c"  style="center;width:400px;border:1px solid;border-radius:10px; height:40px;">
                    <input type="password" name="password_c"  style="display:none;width:400px;border:1px solid;border-radius:10px; height:40px;" id="pwd_c">
                  </div>
                </div>

                <div id="密码提示"
                  style="position: relative; 
                  float:left;
                  margin-top: 20px;
                  margin-left: 112px;">
                  密码为6位以上字母＋数字组合
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 420px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    生日
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 70px;">
                    <input type="text" value="  请输入生日" name="birthday" style="width:400px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 490px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    性别
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 70px;">
                    男&nbsp&nbsp&nbsp&nbsp<input type="radio" name="sex" value="male" /> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    女&nbsp&nbsp&nbsp&nbsp<input type="radio" name="sex" value="female" /> 
                  </div>
                </div>


              </div>
              <div
                style="position: relative; 
                float:left;
                margin-top: 0px;
                margin-left: 0px;
                width:1px;
                height:500px;">
                <img src="{% static 'frontend/image/page6/中部分割线.png' %}"/>  
              </div>
              <div
                style="position: relative; 
                float:left;
                margin-top: 0px;
                margin-left: 50px;
                width:500px;
                height:500px;">
                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 0px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    邮箱
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 40px;">
                    <input type="text" value="  请输入邮箱" name="email" style="width:400px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 70px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    有无投资经历
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 70px;">
                    有&nbsp&nbsp&nbsp&nbsp<input type="radio" name="experience" value="yes" /> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    无&nbsp&nbsp&nbsp&nbsp<input type="radio" name="experience" value="no" /> 
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 140px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    喜爱的艺术风格
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 40px;">
                    <input type="text" value="  下拉框，翔自己弄一下" name="art-style" style="width:150px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                  <div id = "自主输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 20px;">
                    <input type="text" value="  自主输入" name="art-free_style" style="width:100px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 210px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    投资风格
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 100px;">
                    <input type="text" value="  下拉框，翔自己弄一下" name="inversting-style" style="width:150px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 280px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    可接受的投资风险
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 20px;">
                    <input type="text" value="  下拉框，翔自己弄一下" name="inversting-risk" style="width:150px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div
                  style="position: relative; 
                  float:top;
                  margin-top: 350px;
                  margin-left: 0px;">
                  <div id="用户名等"
                    style="position: relative; 
                    float:left;
                    margin-top: 10px;
                    margin-left: 0px;">
                    期望投资收益
                  </div>
                  <div id = "请输入" 
                    style="position: relative; 
                    float:left;
                    margin-top: 0px;
                    margin-left: 60px;">
                    <input type="text" value="  下拉框，翔自己弄一下" name="inversting-income" style="width:150px;border:1px solid;border-radius:8px; height:40px; opacity:71%;">
                  </div>
                </div>

                <div 
                  style="position: relative; 
                  float:top;
                  margin-top: 490px;
                  margin-left: 0px;
                  width: 500px;
                  text-align: center;"
                  >
                  <input id="确认注册" type="submit" value="确认注册">
                </div>

              </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    var tx = document.getElementById("tx"), pwd = document.getElementById("pwd");
    tx.onfocus = function () {
        if (this.value != "  请输入密码")
            return;
        this.style.display = "none";
        pwd.style.display = "";
        pwd.value = "";
        pwd.focus();
    }
    pwd.onblur = function () {
        if (this.value != "")
            return;
        this.style.display = "none";
        tx.style.display = "";
        tx.value = "  请输入密码";
    }
    var tx_c = document.getElementById("tx_c"), pwd_c = document.getElementById("pwd_c");
    tx_c.onfocus = function () {
        if (this.value != "  请输入确认密码")
            return;
        this.style.display = "none";
        pwd_c.style.display = "";
        pwd_c.value = "";
        pwd_c.focus();
    }
    pwd_c.onblur = function () {
        if (this.value != "")
            return;
        this.style.display = "none";
        tx_c.style.display = "";
        tx_c.value = "  请输入确认密码";
    }
    </script>


    <div style="position: relative;
            float:top;
            margin-left: 0px;
            margin-top: 0px;
            height: 300px;
            width: 1200px;
            background-color: rgba(191,217,254,1);">
      <!-- <b>partner块</b> -->
      <div id = "共享艺术，美好生活" style="position: relative;
                  float:left;
                  margin-left:200px;
                  margin-top:100px;"
                  align="center">
          <b>keep in touch</b></br></br>
          <img src="{% static 'frontend/image/page1/底部蓝色信息框/地址.png' %}"  />
          <img src="{% static 'frontend/image/page1/底部蓝色信息框/电话.png' %}"  />
          <img src="{% static 'frontend/image/page1/底部蓝色信息框/邮箱.png' %}"  />
      </div>
      <div  style="position: relative;
                  float:left;
                  margin-left:200px;
                  margin-top:100px;"
                  align="center">
          <img src="{% static 'frontend/image/page1/ArtPartner logo1.png' %}"  />
      </div>
      <div id = "科技，美好未来生活" style="position: relative;
                  float:left;
                  margin-left:200px;
                  margin-top:100px;"
                  >
          </br>
          <b align="center">“科技，美好未来生活”</b></br></br></br></br></br></br>
          <b align="right">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp北京水木未来科技有限公司</b>
      </div>
    </div>
  </body>
</html>
