<!DOCTYPE html>
<!--suppress ALL -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script src = "https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <style>
      .ui-select
      {
        text-align: center;
        /* 加border只是为了看到边框*/
        border:solid 1px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        float: left;
        width: 100%;
        height: 90%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <br>
    <center>
      <b>请在图上点击目的地点并且点击次按钮提交</b>
      <br/>
      <b>起始点经纬度</b>
      <br/>
      <input id="start_x" type="text" />
      <input id="start_y" type="text" />
      <br/>
      <b>终点经纬度</b>
      <br/>
      <input id="end_x" type="text" />
      <input id="end_y" type="text" />
      <br/>
      <button onclick="get_response();">获取5辆可用出租车</button>
    </center>
    <script>
      var map;
      var car = new Array(5);
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 40.001, lng: 116.3245}
        });
        var pos = {
          lat: 40.001,
          lng: 116.3245
        };
        var dest_infoWindow = new google.maps.InfoWindow({map:map,content:"您的目的位置"});
        var dest_marker = new google.maps.Marker({
          position: pos,
          map: map
        });
        dest_marker.setMap(null)
        for (var i = 0; i < 5; i++)
        {
            car[i] = new google.maps.Marker({
            position: pos,
            map: map
          });
            car[i].setMap(null)
        };
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var infoWindow = new google.maps.InfoWindow({map:map,content:"您的位置"});
            infoWindow.setPosition(pos);
            map.setCenter(pos);
            var marker_here = new google.maps.Marker({
              position: pos,
              map: map
            });
            document.getElementById("start_x").value = pos.lat;
            document.getElementById("start_y").value = pos.lng;
          }, function() {
            var infoWindow = new google.maps.InfoWindow({map:map,content:"sorry can't find your location"});
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          var infoWindow = new google.maps.InfoWindow({map:map,content:"your brower dosen't support goalocation"});
          handleLocationError(false, infoWindow, map.getCenter());
        }
        google.maps.event.addListener(map, 'click', function (event) { getPoint(event.latLng, map, dest_infoWindow, dest_marker); });
    }
    function getPoint(point, map, dest_infoWindow, dest_marker){
        document.getElementById("end_x").value = point.lat();
        document.getElementById("end_y").value = point.lng();
        var pos = {
              lat: point.lat(),
              lng: point.lng()
            };
        dest_infoWindow.setPosition(pos);
        dest_marker.setPosition(pos);
        dest_marker.setMap(map)
        map.setCenter(pos);
        for(var i = 0; i < 5; i++){
          car[i].setMap(null)
        }
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function get_response(){
      var start_x = document.getElementById("start_x").value
      var start_y = document.getElementById("start_y").value
      var end_x = document.getElementById("end_x").value
      var end_y = document.getElementById("end_y").value
      $.post("/cal_cars/",{'csrfmiddlewaretoken': csrftoken, 'start_x':start_x, 'start_y': start_y, 'end_x':end_x, 'end_y':end_y},function(data,status,xhr){
              console.log(data['data']);
              var obj = data['data'];
              for (var i = 0; i < 5; i++){
                console.log(obj[i]);
                if (obj[i].lat == 0) {
                  car[i].setMap(null);
                  continue;
                }
                car[i].setMap(map);
                var pos = {
                  lat: obj[i].lat,
                  lng: obj[i].lng
                };
                car[i].setPosition(pos);
              };
            },'json');
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBir98xXehuI48KdyuGFQiay4r-39UOT28&callback=initMap">
    </script>
  </body>
</html>
